<mat-card>
  <mat-action-list>
      <div mat-subheader>Menu</div>
      <button mat-list-item  routerLink="/user-dashboard">
          <mat-icon mat-icon>home</mat-icon>
          Home
      </button>
      <mat-divider></mat-divider>
      <button mat-list-item routerLink="/user-dashboard/profile">
          <mat-icon mat-icon>person-icon</mat-icon>
          Profile
      </button>
      <mat-divider></mat-divider>
        <button mat-list-item routerLink="/user-dashboard/get-categories">
          <mat-icon>list</mat-icon>
          Categories
        </button>
      <mat-divider></mat-divider>
      <button mat-list-item routerLink="/user-dashboard/logout">
          <mat-icon mat-icon>logout</mat-icon>
          Logout
      </button>
  </mat-action-list>
</mat-card>
