footer {
  background-color: #343a40; /* Dark background */
  color: white; /* Text color */
  padding: 1rem 0; /* Reduce top and bottom padding */
  font-size: 0.9rem; /* Adjust font size if needed */
}



footer p {
  margin: 0.2rem 0; /* Reduce spacing between paragraphs */
}

footer ul {
  padding-left: 1rem; /* Adjust left padding for lists */
  margin: 0;
}
