<h4 class="addsub">Add you subject</h4>

<form action="" class="form-container" (ngSubmit)="formSubmit()">
  <mat-form-field>
    <mat-label>Select Category</mat-label>
    <mat-select [(ngModel)]="subjectAdd.categoryName" name="categoryName" >
      <mat-option *ngFor="let item of subjectObj"  [value]="item.categoryName" >{{item.categoryName}}</mat-option>
     
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Subject Name</mat-label>
    <input type="text"
    required
     [(ngModel)]="subjectAdd.subjectName"
      name="subjectName" 
      matInput>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="subjectAdd.subjectDiscription"
     name="subjectDiscription"
     
      matInput></textarea>
  </mat-form-field>
  
  <div class="mb-3">
    <label for="formFile" class="form-label">Upload your image</label>
    <input class="form-control"  (change)="upload($event)" type="file" name = "file" id="formFile">
  </div>

  <div class="container text-center">
    <button class="btn btn-primary">Add</button>
</div>
</form>
