<mat-toolbar class="custom-navbar">
  <!-- Left Icon/Logo -->
  <button
    href="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>Examportal</span>

  <!-- Spacer to push items to the right -->
  <span class="example-spacer"></span>

  <!-- Right Items: Login, Register, Logout -->
  <!-- <a
  
    [routerLink]="'/login'"
    mat-icon-button
    class="size text-white"
    aria-label="Login button"
  >
    Login
  </a> -->
  <!-- <a
    [routerLink]="'/signup'"
    mat-icon-button
    class="size text-white"
    aria-label="Register button"
  >
    Register
  </a> -->
  <!-- <a
    
    mat-icon-button
    class="size text-white"
    aria-label="Logout button"
    *ngIf="isLoggedIn" (click)="logout()"
  >
    Logout
  </a> -->
</mat-toolbar>
